{{#if playing}}
  {{#if correct}}
    <div class="text-center">YES! It only took {{guesses}} guesses! </div>
    <div class="text-center">Do you want <button {{action 'start'}}> Play again? </button></div>
  {{else}}
    <div class="text-center">Is it {{guessValue}}?</div>
    <div class="text-center">
      <button {{action 'lower'}}>Lower</button>
      <button {{action 'correct'}}>Correct</button>
      <button {{action 'higher'}}>Higher</button>
    </div>
  {{/if}}
{{else}}
  <div class="text-center">Think of a number between 1 and 100 and then press<br>
  <button {{action 'start'}}>START!</button></div>
{{/if}}
